### Desafio Semana 3 - Conhecendo sua base de consumidores: qual estado possui a melhor pontuação de crédito?

In [1]:
import pandas as pd

In [2]:
# leitura dos dados
dados = pd.read_csv('desafio1.csv')
dados.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [3]:
# verifica o tipo a coluna de pontuação
dados['pontuacao_credito'].dtype

dtype('int64')

In [4]:
# modifica o tipo para float
dados['pontuacao_credito'] = dados['pontuacao_credito'].astype(float)
dados['pontuacao_credito'].dtype

dtype('float64')

In [5]:
# calcula média por estado
media = dados[['estado_residencia','pontuacao_credito']].groupby('estado_residencia').mean()
media

                   pontuacao_credito
estado_residencia
PR                        648.961294
RS                        651.105143
SC                        649.537653

In [6]:
# calcula mediana por estado
mediana = dados[['estado_residencia','pontuacao_credito']].groupby('estado_residencia').median()
mediana

                   pontuacao_credito
estado_residencia
PR                             650.0
RS                             650.0
SC                             653.0

In [7]:
# calcula moda por estado
moda = dados[['estado_residencia','pontuacao_credito']].groupby('estado_residencia').agg(lambda x : x.value_counts().index[0])
moda

                   pontuacao_credito
estado_residencia
PR                             850.0
RS                             850.0
SC                             850.0

In [8]:
# calcula desvio padrão por estado
desvio = dados[['estado_residencia','pontuacao_credito']].groupby('estado_residencia').std()
desvio

                   pontuacao_credito
estado_residencia
PR                         98.607186
RS                         95.136598
SC                         97.233493

In [9]:
# cria dicionário
dic = {'PR': {'media': media['pontuacao_credito'][0],
              'mediana': mediana['pontuacao_credito'][0],
              'moda': moda['pontuacao_credito'][0],
              'desvio_padrao': desvio['pontuacao_credito'][0]},
       'RS': {'media': media['pontuacao_credito'][1],
              'mediana': mediana['pontuacao_credito'][1],
              'moda': moda['pontuacao_credito'][1],
              'desvio_padrao': desvio['pontuacao_credito'][1]},
       'SC': {'media': media['pontuacao_credito'][2],
              'mediana': mediana['pontuacao_credito'][2],
              'moda': moda['pontuacao_credito'][2],
              'desvio_padrao': desvio['pontuacao_credito'][2]}}
dic

{'PR': {'media': 648.9612940496822,
  'mediana': 650.0,
  'moda': 850.0,
  'desvio_padrao': 98.60718591309755},
 'RS': {'media': 651.1051428571428,
  'mediana': 650.0,
  'moda': 850.0,
  'desvio_padrao': 95.1365984138358},
 'SC': {'media': 649.5376527422563,
  'mediana': 653.0,
  'moda': 850.0,
  'desvio_padrao': 97.23349279343314}}

In [11]:
# salva arquivo json
import json

with open('submission.json', 'w') as fp:
    json.dump(dic, fp)